<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">

<head th:include="fragments/head :: head">
  <meta http-equiv="refresh" content="2; url=https://www.google.com" />
  <script type="text/javascript">
    window.location.href = "https://www.google.com"
  </script>
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Nikommerce</a>
    </div>
  </nav>

  <main>
    <div class="container">
      <h1>Thank You</h1>
    </div>
  </main>

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2019 Nikommerce
      </div>
    </div>
  </footer>

</body>

</html>